<%- include('./partials/head') %>

<!-- 1E AIR CARD START -->
<ul class="eerste-slide-air">
  <li>
      <img src="air.jpeg" alt="air element">
      <p>air</p>
      <h3>Air 'nickname'</h3>
      <img src="/unknowperson.jpg" alt="Avatar van klassgenoten" width="200">
      <img src="/linkervleugel.png" alt="left wing" width="200">
      <img src="/rechtervleugel.png" alt="right wing" width="200">
      <ul>
        <li>
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">          
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">
        </li>
      </ul>
  </li>
</ul>

<!-- 1E AIR CARD END  -->
<!-- 1E FIRE CARD START -->

<ul class="eerste-slide-fire">
  <li>
      <img src="fire.jpeg" alt="air element" width="200">
      <p>Fire<p>'
      <h3>Fire 'nickname'</h3>
      <img src="/vuurcirkel.png" alt="vuur cirkel" width="200">
      <img src="/unknowperson.jpg" alt="Avatar van klassgenoten" width="200">
      <img src="/vuurring.png" alt="vuurring" width="200">
      <ul>
        <li>
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">          
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">
        </li>
      </ul>
  </li>
</ul>

<!-- 1E FIRE CARD END -->
<!-- 1E WATER CARD START -->

<ul>
  <li>
    <img src="water.jpeg" alt="air element" width="200">
    <p>Water<p>'
    <h3>Water 'nickname'</h3>
    <img src="/vuurcirkel.png" alt="vuur cirkel" width="200">
    <img src="/unknowperson.jpg" alt="Avatar van klassgenoten" width="200">
    <img src="/vuurring.png" alt="vuurring" width="200">
    <ul>
      <li>
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">          
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet" width="200">
  </li>
</ul>

<%- include('./partials/foot') %>

<!-- <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %> -->