<%- include('./partials/head') %>

<img class="achtergrond" src="/battlefieldachtergrond.jpg" alt="de oude kapotte stad">

<!-- 1E AIR CARD START -->

<section class="airsection">
<ul class="eerste-slide-air">
  <li>
      <img src="air.png" alt="air element">
      <p>Air</p>
      <h3>Air 'nickname'</h3>
      <img src="/linkervleugel.png" alt="left wing">
      <img class="unknow" src="/unknowperson.jpg" alt="Avatar van klassgenoten">
      <img src="/rechtervleugel.png" alt="right wing">
        <li>
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet">          
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
        </li>
  </li>
</ul>
</section>

<!-- 1E AIR CARD END  -->
<!-- 1E FIRE CARD START -->

<ul class="eerste-slide-fire">
  <li>
      <img src="fire.png" alt="fire element">
      <p>Fire<p>
      <h3>Fire 'nickname'</h3>
      <img src="/vuurcirkel.png" alt="vuur cirkel">
      <img src="/unknowperson.jpg" alt="Avatar van klassgenoten">
      <img src="/vuurring.png" alt="vuurring">
        <li>
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet">          
          <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
        </li>
  </li>
</ul>

<!-- 1E FIRE CARD END -->
<!-- 1E WATER CARD START -->

<ul class="eerste-slide-water">
  <li>
    <img src="water.png" alt="water element">
    <p>Water<p>
    <h3>Water 'nickname'</h3>
    <img src="/watercirkel.png" alt="water cirkel">
    <img src="/unknowperson.jpg" alt="Avatar van klassgenoten">
    <img src="/watereffectbovenkant.png" alt="water effect">
    <img src="/watereffectzijkant.png" alt="water effect">    
      <li>
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet">          
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
  </li>
</ul>

<!-- 1E WATER CARD END -->
<!-- 1E EARTH CARD START -->

<ul class="eerste-slide-earth">
  <li>
    <img src="earth.png" alt="earth element">
    <p>Earth<p>
    <h3>Earth 'nickname'</h3>
    <img src="/earthbolder.png" alt="earth cirkel">
    <img src="/unknowperson.jpg" alt="Avatar van klassgenoten">
    <img src="/earthvines.png" alt="vine effect">
    <img src="/earthvine2.png" alt="vine effect">    
      <li>
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet">          
        <img src="/unknowperson.jpg" alt="ander opties die je nog moet">
  </li>

<!-- 1E EARTH CARD END -->

<%- include('./partials/foot') %>

<!-- <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %> -->