<%- include('./partials/head') %>

<ul  class="eerste-slide">
  <li>
    <div>
      <img src="air.jpeg" alt="air element">
      <p>air </p>
      <img>
    </div>
  </li>
</ul>

<%- include('./partials/foot') %>

<!-- <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %> -->